<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form action="https://google.com/search" id="searchForm">
										<input type="text" name="q" value="" required>
										<input type="hidden" name="site" value="www.tangjies.com">
									</form>
								<script>
									var searchForm = document.getElementById('searchForm');
									searchForm.onsubmit = function(){
										var url = this.action;
										var q = this.children['q'].value;
										var site = this.children['site'].value;
										var url = url + '?q='+q+' site:'+ site;
										window.open(url);
										return false;
									};
								</script>
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">About me</a></li>
										<li>
											<span class="opener"> Tech blogs</span>
											<ul>
												{% for post in site.posts %}
												{% if  post.topics  %}
												<li><a href="{{post.url}}">{{post.topics}}</a></li>
												{% endif %}
												
												 {% endfor %}
												<!--<li><a href="#">Feugiat Veroeros</a></li> -->
											</ul>
										</li>
										<!--<li><a href="elements.html">Elements</a></li>-->
										<!--<li><a href="elements.html">Elements</a></li>-->
										<li>
											<span class="opener">Photograph</span>
											<ul>
												{% for photo in site.photos %}
												<li><a href="{{base}}/photos/{{ photo['name'] }}/index.html">{{ photo['name'] }}</a></li>
												{% endfor %}
											</ul>
										</li>
										<li><a href="{{base}}/all_blog.html">All BLOGS</a></li>
										
									</ul>
									<br/>
									<br/>

									<div>
									<h3><a href=" "><i class="fas fa-tags"></i>Tags</h3></a>
									</div>
									{% assign first = site.tags.first %}
									{% assign max = first[1].size %}
									{% assign min = max %}
									{% for tag in site.tags offset:1 %}
									  {% if tag[1].size > max %}
									    {% assign max = tag[1].size %}
									  {% elsif tag[1].size < min %}
									    {% assign min = tag[1].size %}
									  {% endif %}
									{% endfor %}
									{% assign diff = max | minus: min %}

									{% for tag in site.tags %}
									  {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
									  {% assign basein = temp | divided_by: 4 %}
									  {% assign remain = temp | modulo: 4 %}
									  {% if remain == 0 %}
									    {% assign size = basein | plus: 9 %}
									  {% elsif remain == 1 or remain == 2 %}
									    {% assign size = basein | plus: 9 | append: '.5' %}
									  {% else %}
									    {% assign size = basein | plus: 10 %}
									  {% endif %}
									  {% if remain == 0 or remain == 1 %}
									    {% assign color = 9 | minus: basein %}
									  {% else %}
									    {% assign color = 8 | minus: basein %}
									  {% endif %}

									  <a href=" {{base}}/tag/{{tag[0] | downcase }}/index.html" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
									{% endfor %}
								</nav>

								
										


								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<!--<p>You are welcomed to connect me with any robotic qusetions.</p>-->
										
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="mailto:alvin.tang6@gmail.com">alvin.tang6@gmail.com</a></li>
										<!--
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										-->
									</ul>
									<form action="mailto:alvin.tang6@gmail.com" method="post" enctype="message/plain">

									<div class="col-12">
										<input type="text" name="mail" placeholder="your email address"><br>
										<textarea name="message" id="text-message" placeholder="Enter your message" rows="6"></textarea>
									</div>
									<p> </p>
									<div class="col-12">
										<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
									</ul>
									</div>
									</form>
									
								</section>


							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Jietang. All rights reserved.</p>
								</footer>

						</div>
					</div>