<!-- Sidebar -->{% include base.html %}
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="{{base}}/index.html">About me</a></li>
										<li><a href="generic.html">Generic</a></li>
										{% for post in site.posts %}
										{% if  post.topics  %}

										<li>
											<a href="{{post.url}}">{{post.topics}}</a><span class="opener"></span>
											<ul>
												{% for tag in site.tags %}
												{% capture tag_name %}{{ tag | first }}{% endcapture %}
												{% if post.topics == tag_name %}
												{% for post2 in site.tags[tag_name] %}
												<li><a href="{{post2.url}}">{{post2.title}}</a></li>
												{% endfor %}
												{% endif %}
												{% endfor %}
												<!--<li><a href="#">Feugiat Veroeros</a></li> -->
											</ul>
										</li>
										
										{% endif %}
										{% endfor %}
										<!--<li><a href="elements.html">Elements</a></li>-->
										<!--<li><a href="elements.html">Elements</a></li>-->
										<li>
											<span class="opener">Photograph</span>
											<ul>
												<li><a href="#">Windsor</a></li>
												<li><a href="#">Toronto</a></li>
												<li><a href="#">Ontario</a></li>
												<li><a href="#">Amercia</a></li>
												<li><a href="#">Beijing</a></li>
											</ul>
										</li>
										
									</ul>
								</nav>

							
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Jietang. All rights reserved.</p>
								</footer>

						</div>
					</div>