<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">About me</a></li>
										<li><a href="generic.html">Generic</a></li>
										<li><a href="elements.html">Elements</a></li>
										<li>
											<span class="opener">Tech blogs</span>
											<ul>
												<li><a href="#">Robotics</a></li>
												<li><a href="embedded.html">Embedded linux</a></li>
												<li><a href="#">STM32 MCU</a></li>
												<!--<li><a href="#">Feugiat Veroeros</a></li> -->
											</ul>
										</li>
										<!--<li><a href="elements.html">Elements</a></li>-->
										<!--<li><a href="elements.html">Elements</a></li>-->
										<li>
											<span class="opener">Photograph</span>
											<ul>
												<li><a href="#">Windsor</a></li>
												<li><a href="#">Toronto</a></li>
												<li><a href="#">Ontario</a></li>
												<li><a href="#">Amercia</a></li>
												<li><a href="#">Beijing</a></li>
											</ul>
										</li>
										<li><a href="elements.html">Elements</a></li>
										
									</ul>
								</nav>

							
							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Jietang. All rights reserved.</p>
								</footer>

						</div>
					</div>