<!DOCTYPE html>
<html>
<head>
	<title>Jie Tang</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								{% include header.html %}

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>Hi, I’m Jie Tang
											</h1>
											<p>A electrical engineer and amateur photographer.</p>
										</header>
										<strong><h2 id="content">ABOUT ME</h2></strong>

										<h4>Background</h4>
															<ul>
									
																<li> Master , The University of Windsor, Electrical and Computer Enginnering , MASc (2017–2019).  
																   <br />My supervisor is<a href="http://www.uwindsor.ca/engineering/electrical/331/dr-xiang-chen" class="logo"> Prof. Xiang Chen.</a></li>
																<li> Bachelor , North China Electric Power University ,BEng (2012–2016)</li>
															</ul>
										
											
										
									</div>
									
										<img src="images/selfie.jpg" alt="" width="310" height="450"/>
									
								</section>

							
								<section>
									<header class="major">
										<h2>Photography</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3>Windsor</h3>
											<p>A small city in southwestern Ontario, Canada </p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
											<h3>Toronto</h3>
											<p> The largest city in Canada and provincial captial of Ontario</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3>Ontario</h3>
											<p>Other place in Ontario, algonquin, etc.</p>
											<ul class="actions">
												<li><a href="#" class="button">More</a></li>
											</ul>
										</article>
										
									</div>
								</section>

								

						</div>
					</div>

				<!-- Sidebar -->
					{%include side_bar_home.html%}





			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>